<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='css/portfolio.css')}}">
    


    
    <!-- Title -->
    <title>Home</title>
  </head>
  <body>

    <!-- Title -->
    <h1>Resume</h1>
    <p></p>
    <!-- Nav -->    
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/resume">Resume</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/filesanddemos">Files and Demos/a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/https://brandon-moore-capstone-project.herokuapp.com/">Senior Capstone Project</a>
      </li>
    </ul>

      <div class="text-center">
        <h3>Contacts</h3>
        <p>moore_brandon4@columbusstate.edu</a> | (762) 207-0145 |
            <a href="https://www.linkedin.com/in/brandon-moore-a05a87221/">LinkedIn</a>
        </p>
        <h3>Education</h3>
        <p>
            Bachelor in Computer Science
            <br> Columbus State University, Columbus, GA
            <br> Information Technology Major
            <br> Planned Graduation: December 2021 
        </p>
        <h3>Experienced with:</h3>
        <p>
            High-Level Languages/Database Software: Python, Java, C/C++, MySQL
            <br> Website and Application Development: Visual Studio, HTML 
            <br>Operating Systems: Windows, macOS 
            <br> Productivity Sofware: MS Office, MS Excel, MS PowerPoint,	
            <br>Graphic Design Software: Adobe Photoshop
        </p>
        <h3>Relevant Experience</h3>
        <p>
            <b>2021 (June 2021 - July2021) CSU Operations and Infrastructure. Columbus, GA</b>
            <br>Served as a student assistant (intern position) with the CSU Operations and Infrastructure Department. The main function of the department is to maintain, update, and improve the CSU Website along with its affiliate applications and functions. Under my time there, I assisted in making grammar corrections and improvements throughout the CSU website using Siteimprove. I was also given a project to design instructional-documentation templates via Wiki utilizing the markup languages on GrubHub. Working there, I was also able to observe how team projects were handled and carried out in real time.
            <br>
            <br><b>2021 (March 2021 - May 2021) CSU Project Management. Columbus, GA</b>
            <br>Served as a student assistant (intern position) with CSU’s Project Management Department. I assisted in updating and information/status for CSU’s current and upcoming projects. In doing this, I was also assigned to develop a Power Point graphic conveying all of the top 10 priority projects and the information. 
            I was able to design something that the project manager was able to use as a template for future priority project presentations.
            <br>
            <br><b>2020 (September 2020 - October 2020) CSU Help Desk. Columbus, GA</b>
            <br>Served as a student assistant (intern position) at the CSU Help Desk with telecommunication responsibilities. Aided students and faculty with Wi-Fi connection issues, Microsoft office login issues, and filling out e-quest (tickets to be fulfilled by CSU IT department). 
            Recognized for achieving many first-contact resolutions in which the caller or walk-in had their issue resolved after their first point of contact with the CSU Help Desk.

        </p>
      </div>

     

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>